
// Tema base de Angular Material.
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Por defecto dejamos tema claro.
  color-scheme: light;

  // Colores y tipografia base usando variables de Material.
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Quitamos el margen por defecto del navegador.
  margin: 0;
  height: 100%;
}
